html { width: 100%; height: 98%; }
body { width: 100%; height: 100%; margin: 0 auto; }
.track-container { width: 99%; height:99%; border: 1px #aaa solid; border-radius: 1px; box-shadow: 0 0 2px 2px #ccc; margin: 0.3em auto; }
.track-container header { padding: 0.5em; }
.track-container article { width: 100%; height: 95% };
.track-container h3 { margin: 0; padding: 0; font-weight: bold; }
.track-container .start { font-size: smaller; color: #444; }
.track-container .map { border: 1px #888 solid; border-left: none; border-right: none; width: 100%; height: 100%; margin: 0; }
.track-container footer { background: #f0f0f0; padding: 0.5em; }
.track-container ul.info { list-style: none; margin: 0; padding: 0; font-size: smaller; }
.track-container ul.info li { color: #666; padding: 4px; display: inline; border: 1px #888 solid; margin-right: 10px; }
.track-container ul.info li span { color: black; }

.distanceMarkerClass{
  white-space:nowrap;
  color: #600;
  text-shadow: 0 0 0.1em white, 0 0 0.1em white,
    0 0 0.1em white, 0 0 0.1em white, 0 0 0.1em;
  padding-left: 6px;
  font-size: 15pt;
  font-weight: bold;
}
.timeMarkerClass{
    white-space:nowrap;
    color: #00F;
    text-shadow: 0 0 0.1em white, 0 0 0.1em white,
      0 0 0.1em white, 0 0 0.1em white, 0 0 0.1em;
    padding-top: 20px;
    padding-left: 0px;
    font-size: 13pt;
    font-weight: bold;
}
